@import url("./utils/_variables.css");

* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--greyish);
  display: flex;
  flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #cfcfcf;
}

*::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}

.wrapper {
  height: 100%;
  overflow: auto;
  position: relative;
  margin: 25px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: var(--shadow_sm);
}

#video_search_group > hr {
  margin-top: 35px;
}

.search_bar_group {
  width: 100%;
  position: relative;
}

.search_bar {
  height: 45px;
  width: 100%;
  font-size: var(--font_base);
  padding: 5px;
  border-radius: 5px;
  border: 1px;
  outline: none;
  padding: 0 50px 0 15px;
  box-shadow: var(--shadow_sm);
}

.search_btn {
  background-color: var(--pink);
  border-radius: 0 10px 10px 0px;
  color: var(--white);
  border: none;
  outline: none;
  height: 100%;
  width: 35px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.search_btn:active {
  background-color: var(--greyish);
}

#selected_day_desc {
  font-size: calc(var(--font_base) + 0.2rem);
}

/* video grid */
#videos_group,
#selected_day_videos_group {
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
}

#videos_group {
  margin: 25px 0;
}

#selected_day_videos_group {
  margin-bottom: 15px;
}

.prevent_search_msg {
  text-align: center;
  opacity: 60%;
}

.video_template {
  position: relative;
  display: flex;
  flex-direction: column;
}

.video_template h4 {
  margin: 10px 0;
}

.video_thumbnail img {
  width: 100%;
  margin: -50px 0;
}
.video_thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.video_thumbnail::after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, #000 2%, transparent);
}

.video_duration {
  font-weight: 600;
  position: absolute;
  padding: 2px 5px;
  border-radius: 5px;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  font-size: var(--font_sm);
  color: var(--dark_blue);
  background-color: var(--greyish);
  opacity: 90%;
}

.carousel {
  overflow-x: auto;
  width: 100%;
}

#days_group {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  display: flex;
  padding: 15px 0;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.day_box {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  position: relative;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow_sm);
  gap: 10px;
  padding: 10px;
}

.fa-arrow-right {
  cursor: pointer;
  color: var(--dark_blue);
  opacity: 60%;
  transition: var(--transition-short);
}
.fa-arrow-right:hover {
  opacity: 1;
}

.day_box hr,
h4 {
  padding: 0;
  margin: 0;
}
.day_box > :nth-child(1) {
  display: flex;
  color: var(--pink);
  justify-content: space-between;
}

.day_box > :nth-child(2) {
  font-size: calc(var(--font_base));
  text-align: start;
}

.avail_container {
  font-size: calc(var(--font_base));
  margin-bottom: 25px;
}

.avail_container div:first-child {
  padding-bottom: 15px;
}

.day_vids_list {
  display: flex;
  flex-direction: column;
}

.day_vids_list h4 {
  color: var(--pink);
}

.header_title {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.calendar_header > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.calendar_header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avail_minutes {
  font-size: calc(var(--font_base) + 0.2rem);
  border: none;
  border-bottom: 2px solid var(--dark_blue);
  outline: none;
  color: var(--dark_blue);
  width: 80px;
  height: 35px;
  background-color: var(--greyish);
  transition: var(--transition-short);
}

.avail_minutes:focus {
  border-color: var(--pink);
}

.day_number {
  font-size: calc(var(--font_lg) + var(--font_md));
  letter-spacing: -15px;
  font-weight: 600;
  color: var(--pink);
  opacity: 90%;
}

#notification {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 300px;
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;

  background-color: var(--red);
  padding: 15px;
  z-index: 2;
}

#notification span {
  text-wrap: pretty;
}

.hidden {
  display: none !important;
}

.shown {
  display: block !important;
}

hr {
  width: 100%;
  opacity: 40%;
}

/* collapsable */
#collapser {
  text-align: right;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 10px 10px 0 0;
  width: 100%;
  cursor: pointer;
  background-color: var(--pink);
  color: var(--white);
  font-size: var(--font_base);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#collapser span {
  font-size: var(--font_base);
  font-weight: 600;
}

.calendar {
  background-color: var(--greyish);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  transition: height 0.2s ease-out;
  height: auto;
}

.calendar > * {
  padding: 10px 25px;
}

.back_btn {
  width: fit-content;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--font_md);
  opacity: 60%;
  cursor: pointer;
}
